# CTR Prediction

	https://www.kaggle.com/c/avazu-ctr-prediction/data

## File descriptions
**train** - Training set. 10 days of click-through data, ordered chronologically. Non-clicks and clicks are subsampled according to different strategies. 

	https://www.kaggle.com/c/avazu-ctr-prediction/download/train.gz

**test** - Test set. 1 day of ads to for testing your model predictions. 

	https://www.kaggle.com/c/avazu-ctr-prediction/download/test.gz

**sampleSubmission.csv** - Sample submission file in the correct format, corresponds to the All-0.5 Benchmark. 

	https://www.kaggle.com/c/avazu-ctr-prediction/download/sampleSubmission.gz

## Data fields
id: ad identifier
click: 0/1 for non-click/click
hour: format is YYMMDDHH, so 14091123 means 23:00 on Sept. 11, 2014 UTC.

C1 -- anonymized categorical variable, banner_pos, site_id, site_domain, site_category, app_id, app_domain, app_category, device_id, device_ip, device_model, device_type, device_conn_type, C14-C21 -- anonymized categorical variables

# Load Data

In [1]:
import pandas as pd


# Initial setup
train_filename = "train_small.csv"
test_filename = "test.csv"
submission_filename = "submit.csv"

training_set = pd.read_csv(train_filename)

,click,hour,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
count,2999.000000,2999,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,0.164055,14102100,1005.039680,0.190063,1.056686,0.190730,17725.745915,318.507503,57.323775,1967.792264,0.787929,125.411470,39050.640213,87.887963
std,0.370387,0,1.042825,0.397484,0.564801,0.623881,3062.115201,9.110243,38.256554,376.396854,1.229925,228.664376,48834.382147,44.755433
min,0.000000,14102100,1001.000000,0.000000,0.000000,0.000000,377.000000,216.000000,36.000000,112.000000,0.000000,35.000000,-1.000000,13.000000
25%,0.000000,14102100,1005.000000,0.000000,1.000000,0.000000,15704.000000,320.000000,50.000000,1722.000000,0.000000,35.000000,-1.000000,61.000000
50%,0.000000,14102100,1005.000000,0.000000,1.000000,0.000000,17653.000000,320.000000,50.000000,1955.000000,0.000000,35.000000,-1.000000,79.000000
75%,0.000000,14102100,1005.000000,0.000000,1.000000,0.000000,20362.000000,320.000000,50.000000,2283.000000,2.000000,39.000000,100084.000000,117.000000
max,1.000000,14102100,1010.000000,4.000000,5.000000,5.000000,21704.000000,320.000000,480.000000,2497.000000,3.000000,1835.000000,100248.000000,157.000000

# Explore Data

In [2]:
training_set.describe()

,click,hour,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
count,2999.000000,2999,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,0.164055,14102100,1005.039680,0.190063,1.056686,0.190730,17725.745915,318.507503,57.323775,1967.792264,0.787929,125.411470,39050.640213,87.887963
std,0.370387,0,1.042825,0.397484,0.564801,0.623881,3062.115201,9.110243,38.256554,376.396854,1.229925,228.664376,48834.382147,44.755433
min,0.000000,14102100,1001.000000,0.000000,0.000000,0.000000,377.000000,216.000000,36.000000,112.000000,0.000000,35.000000,-1.000000,13.000000
25%,0.000000,14102100,1005.000000,0.000000,1.000000,0.000000,15704.000000,320.000000,50.000000,1722.000000,0.000000,35.000000,-1.000000,61.000000
50%,0.000000,14102100,1005.000000,0.000000,1.000000,0.000000,17653.000000,320.000000,50.000000,1955.000000,0.000000,35.000000,-1.000000,79.000000
75%,0.000000,14102100,1005.000000,0.000000,1.000000,0.000000,20362.000000,320.000000,50.000000,2283.000000,2.000000,39.000000,100084.000000,117.000000
max,1.000000,14102100,1010.000000,4.000000,5.000000,5.000000,21704.000000,320.000000,480.000000,2497.000000,3.000000,1835.000000,100248.000000,157.000000

In [4]:
training_set.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1000009418151094273,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,10000169349117863715,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,10000371904215119486,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,10000640724480838376,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,10000679056417042096,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [7]:
training_set['hour'].hist()